<!DOCTYPE html>
<html>
  <head>
    <meta http-equiv="content-type" content="text/html; charset=UTF-8" />
    <link rel="stylesheet" href="static/css/universal.css" />
    <link
      rel="stylesheet"
      href="https://cdn.jsdelivr.net/npm/leaflet@1.9.3/dist/leaflet.css"
    />
    <link
      rel="stylesheet"
      href="https://cdn.jsdelivr.net/npm/bootstrap@5.2.2/dist/css/bootstrap.min.css"
    />
    <link
      rel="stylesheet"
      href="https://cdnjs.cloudflare.com/ajax/libs/Leaflet.awesome-markers/2.0.2/leaflet.awesome-markers.css"
    />
    <script src="https://code.jquery.com/jquery-3.7.1.min.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.2.2/dist/js/bootstrap.bundle.min.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/leaflet@1.9.3/dist/leaflet.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/Leaflet.awesome-markers/2.0.2/leaflet.awesome-markers.js"></script>
    <script src="static/js/universal.js"></script>
    <meta
      name="viewport"
      content="width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=no"
    />
  </head>
  <body>
    <div class="banner">
      <h1>Mon GeoGuessr</h1>
    </div>
    <div class="container">
      <div class="street-view">
        <iframe
          src="https://www.mapillary.com/embed?image_key={{photo_id}}&style=photo"
          frameborder="0"
        ></iframe>
      </div>
      <div class="map" id="map_1"></div>
    </div>
    <div class="submit-button">
      <button onclick="window.location.href='/result'">Envoyer</button>
    </div>
    <script>
      var map_1 = L.map("map_1", {
        center: [0.0, 0.0],
        crs: L.CRS.EPSG3857,
        zoom: 1,
        zoomControl: true,
        preferCanvas: false,
      });

      var tile_layer = L.tileLayer(
        "https://tile.openstreetmap.org/{z}/{x}/{y}.png",
        {
          attribution:
            '\u0026copy; \u003ca href="https://www.openstreetmap.org/copyright"\u003eOpenStreetMap\u003c/a\u003e contributors',
          detectRetina: false,
          maxNativeZoom: 19,
          maxZoom: 19,
          minZoom: 0,
          noWrap: false,
          opacity: 1,
          subdomains: "abc",
          tms: false,
        }
      );
      tile_layer.addTo(map_1);
    </script>
  </body>
</html>
